button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
h1 {
	font-size: 4em;
	font-family: fantasy;
	letter-spacing: 9px;
}
img {
	height: 300px;
}
*{
	text-align: center;
}
.hamster {
	height: 355px
}
